.item {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  height: 180px;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.25);
  overflow: hidden;
}

.image {
  /* display: block; */
  margin-bottom: auto;
  object-fit: cover;
  height: 100px;
  width: 120px;
  cursor: zoom-in;
}

.tag {
  margin: 0;
  margin-bottom: 7px;
}

.btn {
  border-radius: 4px;
  border: none;
  padding: 5px 24px;
  color: var(--white);
  background-color: var(--black);
  transition-property: color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  cursor: pointer;
}

.btn:hover {
  color: var(--white);
  background-color: var(--grey3C);
}

.btn:active {
  color: var(--black);
  background-color: var(--greyEE);
}

.btnActive {
  color: var(--black) !important;
  background-color: var(--greyEE) !important;
}

.btnImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 340px) {
  .item {
    width: 130px;
    height: 170px;
  }
}
