:root {
  --black: #111111;
  --white: #FFFFFF;
  --grey3C: #3C3C43;
  --grey76: #767680;
  --greyEE: #EEEEEE;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 586px;
}

.bodyNoScroll {
  overflow: hidden;
}

/* На  modal-root висит свойство pointer-events: none! Всем потомкам необходимо включать pointer-events: all*/
#modal-root {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

